html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	transition: .5s transform ease;
}

article {
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0;
	padding: 1rem;
}

#checkin_screen,
#venue_screen {
	transform: translateX(100%);
	z-index: 0;
}

/* Checkin state */
body.in-checkin { transform: translateX(-100%); }
body.in-checkin>#checkin_screen { z-index: 10; }

body.in-venue { transform: translateX(-100%); }
body.in-venue>#venue_screen { z-index: 10; }


#main:not(.authenticated)>#foursquare-actions {
	display: none;
}
#main.authenticated>#foursquare-auth {
	display: none;
}

#main:not(.nolocation)>#geolocation {
	display: none;
}

#mapdiv {
	background: url(/images/loading.gif) scroll no-repeat center center;
}
#map>li {
	transition: 1s ease all;
	height: 15rem;
}
#map>li>#mapdiv {
	min-height: 15rem;
	height: 100%;
	/*display: block; position: relative;	z-index: 100;*/
}

[data-type="list"]>#venuelist aside img {
	background-color: #CCC;
	width: 5em; height: 5em;
	border-radius: 20%;
	margin: .5em;
}