/* Font declarations: Firefox OS base font (Feura Sans) */
@font-face {
	font-family: 'Feura Sans';
	src: url('../fonts/FeuraSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Feura Sans';
	src: url('../fonts/FeuraSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Feura Sans';
	src: url('../fonts/FeuraSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


/* Reset */
ul {
  margin: 0;  padding: 0;
  list-style: none;
}

h1 { font-size: 1.66rem; }
h2 { font-size: 1.4rem;  }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }


/* Basics */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: normal 10px "Feura Sans", sans-serif;
  font-size: 2.5vmin;
  background: #fff;
}

body {
  position: relative;
}



/* Install button */
#install {
	display: none;
}

#install.show-install {
	display: inline-block;
}

header.show-install h1 {
	display: inline-block;
	width: 55%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
